<% content_for :title, "Editando An치lise" %>

<h1>Editando An치lise</h1>

<%= render "form", analise: @analise %>

<br>

<div>
  <%= link_to "Mostrar esta An치lise", @analise %> |
  <%= link_to "Voltar para An치lises", analises_path %>
</div>
