<% if notice.present? %>
  <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<% content_for :title, "An치lises" %>

<h1>An치lises</h1>

<div id="analises">
  <% @analises.each do |analise| %>
    <%= render analise %>
    <p>
      <%= link_to "Mostrar esta An치lise", analise %>
    </p>
  <% end %>
</div>

<%= link_to "Nova An치lise", new_analise_path %>
