/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    background-color: #EBEBEB !important;
}
.container {
    background-color: #FFF;
    border: 1px solid #D1D1D1;
    margin: 1em;
    padding: 1em;
}
.rounded-corners {
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}
.card {
    margin-bottom: 1em;
}